:root {
    --accent:   #d28fff;
    --pagebg:   #000000; 
    --accent2:  #d9bbff77; 
    --selection: #ffffff77;
    --sectionbg:   #000000af; 
    --header-color: #f5ebff;
    --text-color: #dfdfdf;
}
html {
    background: var(--pagebg);
    /*background-image: url("/images/bg_checker_cyan.png");*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
body {
    margin:0px;
}


.bgwords {
    user-select: none;
    position:fixed;
    max-width: 256px;
    color: #9628710f;
    padding: 0;
    margin: 0;
    letter-spacing: -.1em;
    line-height: .45em;
    font-size:2em;
    transform: scale(240%, 120%);
    filter:blur(1px);
    z-index: -1;
}
h1{
    color:var(--header-color);

    font-size: 2.2em;
    line-height: .9em;

    filter: drop-shadow(6px 0px 2px #00000018);
    text-decoration: underline;
}
.h1p{
    color:black;

    font-size: 2.2em;
    line-height: .9em;

    filter: drop-shadow(6px 0px 2px #00000018);
    text-decoration: underline;
}
.h2p{
    color:black;
    font-size: 1.4em;
    filter: drop-shadow(6px 0px 2px #00000018);
}
h2 {
    color:var(--header-color);
    font-size: 1.4em;
    filter: drop-shadow(6px 0px 2px #00000018);
}
img{
    max-width: 100%;
}

.cw{
    background-color: white;
    color: black;
    padding: 4px;
    border-radius: 4px;
}

.hex{
    font-family:monospace;
    color:rgb(141, 154, 175);
    text-align: justify;
    font-weight: lighter;
    max-width: 100%;
}

a{
    color:var(--accent);
}
a.visited{
    color:var(--accent2);
}

a.hexl {
    color:var(--accent);
}

a.hexl:link{
    color: var(--accent);
    text-decoration: none;
}
a.hexl:visited{
    color:var(--text-color);
    text-decoration-line: line-through;
}

a.hover:link {
    display: inline-block;
    transition: all .2s cubic-bezier(0,-0.78,.25,1.4);
    transform:scale(95%, 100%);
    color: var(--accent);
    text-decoration: none;
    font-size: 1.5em;
    padding:1%;
}
a.hover:visited{
    color: var(--accent);
}
a.hover:hover{
    transform:scale(105%, 105%);
    filter: drop-shadow(0px 0px 2px var(--accent));
}



.titlebar {
    margin:auto;
    color:var(--header-color);
    background: var(--accent);
    font-size: 5.3em;
    line-height: .8em;
    padding-top:1%;
    padding-bottom:1%;
}

.linksheader{
    display: grid;
    text-align: justify;
    margin-top:0%;
    margin-bottom:0%;
    padding-top:1%;
    padding-bottom:1%;
}
.linksfooter{
    display: grid;
    text-align: justify;
    margin-top:0%;
    margin-bottom:0%;
    padding-top:1%;
    padding-bottom:1%;
    font-size:.7em;
}

.poemwrap {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    padding-bottom:0;
    padding: auto;
    max-width: 332;
    
    border-style: solid;
    border:aliceblue;
    border-width: 1px;
    border-color:aliceblue
}

.poem{
    background: rgb(203, 211, 211);
    background-image: url("/images/crop-bg.jpg");
    background-size: cover;
    font-family: monospace;
    font-size: .9em;
    color:black;
    width:80%;
    max-width: 300px;
    margin:auto;
    padding-left: 3em;
    padding-right: 0em;
    padding-top: 3em;
    padding-bottom: 1em;
    text-align: justify;
    line-height: .5em;
    border-left: 4px double black;

    border-right: 4px double black;
    border-bottom: 4px double black;
}

.contentwrap {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    padding-bottom:0;
    padding: auto;
    max-width: 768px;
    
    border-style: solid;
    border:aliceblue;
    border-width: 1px;
    border-color:aliceblue
}

.content {
    background:var(--sectionbg);
    color:var(--text-color);
    width:80%;
    max-width: 768px;
    margin:auto;
    padding-left: 2em;
    padding-right: 2em;
    border-left: 4px double var(--accent2);
    border-bottom: 4px double var(--accent2);
}

.update {
    background:var(--sectionbg);
    color:var(--text-color);

    width: 80%;

    padding-left: 2em;
    padding-right: 2em;
}

.timestamp {
    font-size: .8em;
    color: var(--accent2);
    padding-top: 8px;
    padding-bottom: 8px;
}

.rglow{
    font-weight: bolder;
    color: red;
    filter: drop-shadow(0px 0px 4px orange);
    font-size: 1.1em;
    font-family: sans-serif;
}

.gglow{
    font-weight: lighter;
    color: green;
    filter: drop-shadow(0px 0px 4px greenyellow);
    font-family: fantasy;
}

.stampfoot{
    padding:2px;
    text-align: justify;
}
.stampfoot img{
    max-width: 100%;
}
.footer {
    width:100%;
    color: rgb(177, 177, 177);
    font-family: 'Garamond', 'Georgia', 'Times New Roman', serif;
    font-size: .8em;
    padding: 0px;
    clear:both;
    bottom:0;
    text-align:justify;
    float: inline-end;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    list-style-type: none;
    padding: 2px;
}

.avatar {
    transition: all .2s cubic-bezier(0,-0.78,.25,1.4);
    transform: rotate(0deg) scale(100%);
    position: absolute;
    float: right;
    right:0;
    padding: 12px;
}

.avatar:hover {
    transform: rotate(1deg) scale(102%);
    filter: drop-shadow(2px 2px 2px var(--accent));
}

::selection {
    background: var(--selection);
    color: var(--pagebg);
  }