:root{
  --black: #09010d;
  --purple_dark: #17001d;
  --purple: #270022;
  --purple_light: #450327;
  --red_dark: #660f31;
  --red: #9c173b;
  --red_neon: #ff0546;
  --blue_dark: #1e579c;
  --blue_mid: #0098db;
  --blue_bright: #0ce6f2;
}

html {
  height: 100%;
}


body {
  margin: 0px;
  padding-top: 0px;
  background: var(--purple);
  justify-content: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: var(--red_neon)
}

h2 {
  margin-top: 2px;
  margin-bottom: 4px;
  color: var(--red);
}

ul {
  margin-top: 2px;
  margin-bottom: 2px;
}

a {
  color: var(--red);
  text-decoration:none;
}

a:hover {
  background-color: var(--blue_bright);
  color: var(--black);
}

p {
  margin: 8px;

  font-family: 'pixelm';
}

.wrapper {
  color: var(--purple_light);
  padding-top: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

.header {
  color: var(--red_neon);
  width: 100%;
  max-height: 384px;
  margin: 0;
}

.headertext {
  width: 100%;
  height: 100%;
  font-size: 128px;
  text-align: center;
  margin:0;
  padding:0;
}

.headerlinks {
  margin: auto;
  padding: 6px;
  font-size: 32px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.headerlinks a {
  padding: 3px;
}

.footer {
  color: var(--purple_dark);
  width: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

::selection {
  background: var(--blue_bright);
  color: var(--black);
}
