:root{
  --accent: #1f6cde;
}

html {
  height: 100%;
}

@font-face {
  font-family: 'kingdom';
  src: url('../fonts/kingdom.ttf') format('truetype');
}

body {
  margin: 0px;
  padding-top: 0px;
  background: black;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: var(--accent);
  text-decoration:dashed;
}

a:hover {
  background-color: var(--accent);
  color: white;
}

.wrapper {
  color: black;
  background:white;
  padding-top: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  border-radius: 0px 0px 16px 16px;
}

.header {
  color: var(--red_neon);
  width: 100%;
  max-height: 384px;
  margin: 0;
}

.headertext {
  width: 100%;
  height: 100%;
  font-size: 86px;
  text-align: center;
  margin:0;
  padding:0;
  font-family: 'kingdom';
}

.headerlinks {
  margin: auto;
  padding: 4px;
  font-size: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.headerlinks a {
  padding: 3px;
  font-family: 'kingdom';
}

.footer {
  color: rgba(255, 255, 255, 0.33);
  width: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 16px;
}

::selection {
  background: black;
  color: white;
}
